body{
    
    padding-top: 0px;
    font-family: 'Raleway';
}
body
{
    background-image: url(../img/party_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    
    background-size: cover;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    
}
.br-toggle {
    background: #7ddc1f !important;
}
.navbar-trans .navbar-toggle .icon-bar {
    background-color: #fff;}
.navbar .navbar-nav>li>a
{
    color:#fff;
}
.navbar .navbar-nav>li>a:hover
{
    color:#fff;
    background-color:transparent;
}

.navbar-header .navbar-brand 
{
color:#fff;
}
.hero-container 
{
background: rgba(0,0,0,0.8);
min-height: 550px;
overflow: hidden;
padding-top: 50px;
color: #fff;
width: 100%;
max-width: 100%;

}

.hero-h1
{
    color:#fff;
    font-size: 60px;
    padding-top: 2em;
    font-family: 'Ubuntu';

}
.btn-contact
{
background: -moz-linear-gradient(top,#7ddc1f 0,#64c306 100%);
background: -moz-gradient(linear,left top,left bottom,color-stop(0,#7ddc1f 0),color-stop(1,#64c306 100%));
background: linear-gradient(top,#7ddc1f 0,#64c306 100%);
background-color: #7ddc1f;
border-color: #5dba00;
font: 15px/22px 'Open sans',Arial,sans-serif;
font-weight: 400;
letter-spacing: .5px;
padding: 9px 33px;
font-size: 15px
}
.btn-outline
{
color: #7ddc1f;
background-color: #fff;
border:2px solid #7ddc1f;
font-size: 15px;
font: 15px/22px ;
font-weight: 400;
letter-spacing: .5px;
padding: 9px 33px;
}

.hero{
    width: 100%;
    min-height: 400px;
    background-color: #fff;
    color: #4c4c4c;
}
/*.hero .container .fa {
    color: #d9534f;*/
}
.hero .container h3{
    color:#d9534f;
}
.full-fledged{
    border-radius: 1px;
}

.hero-text{
    padding-top: 10px;
}
.well{
    color: #4c4c4c;
    background-color: rgba(255, 255, 255, 1);
}
.form-group{
    margin-top: 3px;
}
.party-search{
    margin-top: 3em;
   padding-top: 6em;
   background:#E74C3C;
   padding-bottom: 4em;
   #008966
   #3498DB
}
.header-description{
   font-family:'Montez';
   font-size:30px;
}
.hero-fa{
color:#fff ;
background-color:#3498DB ;
border-radius: 60px;
padding-top: 3px;
display: inline-block;
height: 90px;
line-height: 30px;
margin-left: 12px;
padding-top: 12px;
width: 90px;
font-size: 60px;
text-align: center;
}